<%- include('partials/header') -%>
    <%- include('partials/navBar') -%>

        <!-- event description -->
        <h2 class="flex justify-center m-5">
            <%= event.title %>
        </h2>
        <div class="flex justify-center">
            <img class="rounded-lg w-80 h-80 card-img-top" src="<%= event.image%>" />






        </div>


        <!-- event buttons -->
        <div class="flex justify-center">
            <%if(event.user==user.id){ %>

                <button><i class="btn  fa-solid fa-bookmark bg-blue-500 shadow-lg shadow-blue-500/50 m-5"></i></button>
                <form action="/event/deleteEvent/<%= event.id %>?_method=DELETE" method="POST" class="col-3">
                    <button class="btn  fa-regular fa-trash-can bg-blue-500 shadow-lg shadow-blue-500/50 m-5"
                        type="submit"></button>
                </form>
                <%}%>
        </div>


        <!-- Display event items -->

        <div class="">
            <div class="">
                <ul class="m-8 p-3 grid lg:grid-cols-3 gap-10">
                    <% for(var i=0; i<items.length; i++) {%>
                        <li class="">
                            <a href="/item/<%= items[i]._id%>">
                                <img class="card-img-top" src="<%= items[i].image%>">
                                <p class="pt-2 hover:text-gray-200">
                                    <%= items[i].title %>
                                </p>
                                <div class=" flex flex-row">
                                    <!-- item description if needed -->
                                    <!-- <p class="post-title"><%= items[i].description %></p> -->
                                </div>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </div>


            <!-- Create an item -->
            <h2 class="flex justify-center">Add an Item</h2>
            <div class="mt-5 flex justify-center">
                <form action="/item/createItem" enctype="multipart/form-data" method="POST">
                    <div class="mb-3 flex flex-col">
                        <label for="title" class=" ">Title</label>
                        <input type="text" class="w-80 rounded bg-gray-900" id="title" name="title">


                        <input type="hidden" id="eventId" name='eventId' value="<%=event._id%>">
                    </div>
                    <div class="mb-3 flex flex-col">
                        <label for="description" class="">Description</label>
                        <textarea rows='6' class="w-80 rounded bg-gray-900" id="description" name="description"
                            placeholder="Please add items on seperate lines"></textarea>
                    </div>
                    <div class="mb-3 flex flex-col">
                        <label for="imgUpload" class="">Image</label>
                        <input type="file" class="w-80 rounded bg-gray-900" id="imageUpload" name="file">
                    </div>
                    <div class="flex justify-center">
                        <button type="submit"
                            class=" flex justify-center mt-5 btn bg-blue-500 shadow-lg shadow-blue-500/50"
                            value="Upload">Submit</button>
                    </div>
                </form>
            </div>

            <div class="flex justify-center mt-5">
                <a class="btn  bg-blue-500 shadow-lg shadow-blue-500/50" href="/eventFeed">Return to
                    Feed</a>
            </div>
        </div>

        <%- include('partials/footer') -%>