<%- include('partials/header') -%>
    <%- include('partials/navBar') -%>

        <!-- <a href="/profile" class="username">
            <p class="pl-6">
                <%= user.userName %> <br> Add an event
            </p>
        </a> -->
        <div>
        </div>

        <div class="">
            <ul class="m-8 p-3 grid lg:grid-cols-3 gap-10">
                <% for(var i=0; i<events.length; i++) {%>
                    <li class="">
                        <a href="/event/<%= events[i]._id%>">
                            <!-- event image -->
                            <img class="card-img-top" src="<%= events[i].image%>">
                            <!--event title  -->
                            <p class="pt-2 hover:text-gray-200">
                                <%= events[i].title %>
                            </p>

                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>






        <%- include('partials/footer') -%>