<%- include('partials/header') -%>
    <!-- display user name -->
    <div class="grid">
        <img src="/imgs/prepp-small.png" alt="prepp logo" class="justify-self-center mt-5 rounded">
    </div>
    <a href="/profile" class="">
        <p class="pl-6"><strong></strong>
            <%= user.userName %> <br> Create an Event
        </p>
    </a>
    <div>
        <p>This is an event feed</p>
    </div>

    <div>
        <ul>
            <li>event will go here</li>
        </ul>
    </div>

    <!-- !test run for eventFeed -->
    <div class="">
        <div class="">
            <ul class="feed">
                <% for(var i=0; i<events.length; i++) {%>
                    <li class="col-6  mt-5 grid-item column">
                        <a href="/event/<%= events[i]._id%>">
                            <p class="post-title">
                                <%= events[i].title %>
                            </p>

                            <img class="card-img-top" src="<%= events[i].image%>">
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>











    <%- include('partials/footer') -%>