<%- include('partials/header') -%>
    <%- include('partials/navBar') -%>

        <!-- event description -->
        <h2 class="flex justify-center m-5">
            <%= event.title %>
        </h2>
        <div class="flex justify-center">
            <img class=" w-80 h-80 card-img-top " src="<%= event.image%>" />
        </div>
        <div class="flex justify-center">
            <div class="flex justify-center  w-80 p-4 rounded-b-lg border-1 border-gray-500">
                <%= event.description %>
            </div>
        </div>


        <!-- event buttons -->
        <div class="flex justify-center">





            <button
                class="btn fa fa-plus  bg-sky-500/75 shadow-lg shadow-gray-500/50 rounded p-3 px-4 m-3 text-white  hover:scale-105 transition ease-out duration-300"
                type="submit" onclick="openModalItem()"></button>

            <button
                class="btn  fa-solid fa-bookmark bg-sky-500/75 shadow-lg shadow-gray-500/50 rounded p-3 px-4 m-3 text-white  hover:scale-105 transition ease-out duration-300"></i></button>
            <%if(event.user==user.id){ %>
                <form action="/event/deleteEvent/<%= event.id %>?_method=DELETE" method="POST" class="col-3">
                    <button
                        class="btn  fa-regular fa-trash-can bg-sky-500/75 shadow-lg shadow-gray-500/50 rounded p-3 px-4 m-3 text-white  hover:scale-105 transition ease-out duration-300"
                        type="submit"></button>
                </form>
                <%}%>
        </div>


        <!-- Display event items -->

        <div class="">
            <div class="">
                <ul class="m-8 p-3 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3  2xl:grid-cols-4 gap-10">
                    <% for(var i=0; i<items.length; i++) {%>
                        <li class="hover:scale-105 hover:bg-opacity-50 transition ease-out duration-300">
                            <a href="/item/<%= items[i]._id%>">
                                <img class="card-img-top" src="<%= items[i].image%>">
                                <p class="pt-2 hover:text-gray-400">
                                    <%= items[i].title %>
                                </p>
                                <div class=" flex flex-row">
                                    <!-- item description if needed -->
                                    <!-- <p class="post-title">
                                        <%= items[i].description %>
                                    </p> -->
                                </div>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </div>


            <!-- Create an item -->
            <!-- <h2 class="flex justify-center">Add a dish</h2>
            <div class="my-10 flex justify-center ">
                <form action="/item/createItem" enctype="multipart/form-data" method="POST">
                    <div class="mb-3 flex flex-col">
                        <label for="title" class=" "></label>
                        <input type="text" class="w-80 rounded bg-gray-200 placeholder placeholder:text-slate-900"
                            id="title" name="title" placeholder="Dish name">


                        <input type="hidden" id="eventId" name='eventId' value="<%=event._id%>">
                    </div>
                    <div class="mb-3 flex flex-col">
                        <label for="description" class=""></label>
                        <textarea rows='6' class="w-80 rounded bg-gray-200 placeholder placeholder:text-slate-900"
                            id="description" name="description" placeholder="Dish Description"></textarea>
                    </div>
                    <div class="mb-3 flex flex-col">
                        <label for="imgUpload" class="">Image</label>
                        <input type="file" class="w-80 rounded bg-gray-200 placeholder placeholder:text-slate-900"
                            id="imageUpload" name="file">
                    </div>
                    <div class="flex justify-center">
                        <button type="submit"
                            class=" bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 m-2 text-white hover:text-gray-200 hover:scale-105 transition ease-out duration-300"
                            value="Upload">Submit</button>
                        <a class="bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 m-2 text-white hover:text-gray-200 hover:scale-105 transition ease-out duration-300"
                            href="/eventFeed">
                            Feed</a>
                    </div>
                </form>
            </div> -->

        </div>
        <!-- <script src="modal.js"></script>  -->
        <!-- Script to open and close modal -->





        <!--! SECOND MODAL TO MAKE ITEMS -->
        <div id="modalItem"
            class=" fixed z-10 inset-0 overflow-y-auto hidden fixed inset-0 bg-gray-700 bg-opacity-75 transition-opacity">
            <div class="flex items-center justify-center min-h-screen">
                <div class="bg-white rounded-lg w-1/2 p-8 border border-gray-700">
                    <div class="flex justify-between">
                        <h2 class="text-2xl font-bold mb-4">Add Item</h2>
                        <h2 class="fa-solid fa-x  rounded p-2 m-2  hover:scale-110 transition ease-out duration-300"
                            onclick="closeModalItem()">
                        </h2>
                    </div>
                    <form action="/item/createItem" enctype="multipart/form-data" method="POST">

                        <div class=" mb-4">
                            <label class="block text-gray-700 font-bold mb-2" for="title">
                                Item Name
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="title" name="title" type="text" placeholder="Item name">

                            <input type="hidden" id="eventId" name='eventId' value="<%=event._id%>">
                        </div>


                        <div class="mb-4">
                            <label class="block text-gray-700 font-bold mb-2" for="description">
                                Event Description
                            </label>
                            <textarea
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="description" name="description" placeholder="Enter item description"></textarea>
                        </div>



                        <div class="mb-4">
                            <label class="block text-gray-700 font-bold mb-2" for="imgUpload">
                                Event Image
                            </label>
                            <input type="file" class="border p-2 w-full" id="imageUpload" name="file">
                        </div>


                        <div class="flex justify-center">
                            <button type="submit"
                                class="bg-sky-500/75 shadow-lg shadow-gray-500/50 rounded p-3 px-4 m-3 text-white  hover:scale-105 transition ease-out duration-300">
                                Add Item
                            </button>

                        </div>
                    </form>

                </div>
            </div>
        </div>


















        <!-- script for event modal (create event in the nav) -->
        <script>
            function openModal() {
                document.getElementById("modal").classList.remove("hidden");
            }
            function closeModal() {
                document.getElementById("modal").classList.add("hidden");
            }
        </script>

        <!-- script for modal item form (plus button) -->
        <script>
            function openModalItem() {
                document.getElementById("modalItem").classList.remove("hidden");
            }
            function closeModalItem() {
                document.getElementById("modalItem").classList.add("hidden");
            }
        </script>
        <%- include('partials/footer') -%>