<%- include('partials/header') -%>
    <%- include('partials/navBar') -%>

        <!-- event description -->
        <h2 class="flex justify-center m-5">
            <%= event.title %>
        </h2>
        <div class="flex justify-center">
            <img class="rounded-lg w-80 h-80 card-img-top" src="<%= event.image%>" />






        </div>


        <!-- event buttons -->
        <div class="flex justify-center">
            <%if(event.user==user.id){ %>

                <button><i
                        class="btn  fa-solid fa-bookmark bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 mt-2 text-gray-200 px-3 m-2"></i></button>
                <form action="/event/deleteEvent/<%= event.id %>?_method=DELETE" method="POST" class="col-3">
                    <button
                        class="btn  fa-regular fa-trash-can bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 mt-2 text-gray-200 px-3 m-2"
                        type="submit"></button>
                </form>
                <%}%>
        </div>


        <!-- Display event items -->

        <div class="">
            <div class="">
                <ul
                    class="m-8 p-3 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-10">
                    <% for(var i=0; i<items.length; i++) {%>
                        <li class="">
                            <a href="/item/<%= items[i]._id%>">
                                <img class="card-img-top" src="<%= items[i].image%>">
                                <p class="pt-2 hover:text-gray-200">
                                    <%= items[i].title %>
                                </p>
                                <div class=" flex flex-row">
                                    <!-- item description if needed -->
                                    <!-- <p class="post-title"><%= items[i].description %></p> -->
                                </div>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </div>


            <!-- Create an item -->
            <h2 class="flex justify-center">Add a dish</h2>
            <div class="mt-5 flex justify-center ">
                <form action="/item/createItem" enctype="multipart/form-data" method="POST">
                    <div class="mb-3 flex flex-col">
                        <label for="title" class=" "></label>
                        <input type="text" class="w-80 rounded bg-gray-200 placeholder placeholder:text-slate-900"
                            id="title" name="title" placeholder="Dish name">


                        <input type="hidden" id="eventId" name='eventId' value="<%=event._id%>">
                    </div>
                    <div class="mb-3 flex flex-col">
                        <label for="description" class=""></label>
                        <textarea rows='6' class="w-80 rounded bg-gray-200 placeholder placeholder:text-slate-900"
                            id="description" name="description" placeholder="Dish Description"></textarea>
                    </div>
                    <div class="mb-3 flex flex-col">
                        <label for="imgUpload" class="">Image</label>
                        <input type="file" class="w-80 rounded bg-gray-200 placeholder placeholder:text-slate-900"
                            id="imageUpload" name="file">
                    </div>
                    <div class="flex justify-center">
                        <button type="submit"
                            class=" btn bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 m-2 text-gray-200"
                            value="Upload">Submit</button>
                        <a class="btn bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 mt-2 text-gray-200 p-2 m-2"
                            href="/eventFeed">
                            Feed</a>
                    </div>
                </form>
            </div>

            <!-- <div class="flex justify-center mt-5">
                <a class="btn bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 mt-2 text-gray-600 mb-5"
                    href="/eventFeed">Return to
                    Feed</a>
            </div> -->
        </div>

        <%- include('partials/footer') -%>