<%- include('partials/header') -%>
    <!-- display user name -->
    <div class="grid">
        <img src="/imgs/prepp-small.png" alt="prepp logo" class="justify-self-center mt-5 rounded">
    </div>
    <!-- Showing username in the corner of the page and a link to the profile -->
    <a href="/profile" class="">
        <p class="pl-6"><strong></strong>
            <%= user.userName %> <br> Create an Item
        </p>
    </a>
    <div class="">
        <div class="">
            <ul class="feed">
                <% for(var i=0; i<items.length; i++) {%>
                    <li class="col-6  mt-5 grid-item column">
                        // this is what tripped me over. /item/ was post and
                        <a href="/item/<%= items[i]._id%>">
                            <p class="post-title">
                                <%= items[i].title %>
                            </p>

                            <img class="card-img-top" src="<%= items[i].image%>">
                            <div class=" flex flex-row">
                                <!-- checkmark if needed -->
                                <!-- <input type="checkbox" checked="checked" class="checkbox checkbox-secondary mr-5" /> -->


                                <!-- display caption if needed -->
                                <!-- <p class="post-title"><%= items[i].description %></p> -->
                            </div>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>


        <!-- Create an item -->
        <div class="mt-5 create-post">
            <h2 class="justify-content-center mb-3">Add an Item</h2>
            <form action="/item/createItem" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label ">Title</label>
                    <input type="text" class="form-control block w-full rounded-lg bg-gray-900" id="title" name="title">


                    <input type="hidden" id="eventId" name='eventId' value="<%=event._id%>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea rows='6' class="form-control block w-full bg-gray-900" id="description" name="description"
                        placeholder="Please add items on seperate lines"></textarea>
                </div>
                <div>
                    <label for="imgUpload" class="form-label">Image</label>
                    <input type="file" class="form-control block w-full bg-gray-900" id="imageUpload" name="file">
                </div>
                <button type="submit" class="btn bg-blue-500 shadow-lg shadow-blue-500/50"
                    value="Upload">Submit</button>
            </form>
        </div>
    </div>


    </div>
    <%- include('partials/footer') -%>