<%- include('partials/header') -%>
    <%- include('partials/navBar') -%>

        <div>
        </div>

        <div class="container mx-auto h-screen ">
            <ul
                class="m-8 p-3 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5 gap-10">
                <% for(var i=0; i<events.length; i++) {%>
                    <li class="hover:scale-105 hover:bg-opacity-50 transition ease-out duration-300">
                        <a href="/event/<%= events[i]._id%>">
                            <!-- event image -->
                            <img class="card-img-top shadow-lg  hover:bg-opacity-50 transition ease-out duration-300 rounded"
                                src="<%= events[i].image%>">
                            <!--event title  -->
                            <p class="pt-2  p-4 rounded-b-lg border-1 border-gray-500">
                                <%= events[i].title %>
                            </p>


                            <!--Event by:  -->
                            <!-- <p class="pl-6">
                                by <%= user.userName %>
                            </p> -->


                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
        <script src="modal.js"></script>
        <%- include('partials/footer') -%>