<%- include('partials/header') -%>
  <%- include('partials/navBar') -%>

    <div class="">
      <div class="">
        <ul class=" m-8 p-3 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-10">
          <% for(var i=0; i<items.length; i++) {%>
            <li class="hover:scale-105 hover:bg-opacity-50 transition ease-out duration-300">
              <a href="/item/<%= items[i]._id%>">
                <img class="card-img-top" src="<%= items[i].image%>">

                <p class="pt-2 hover:text-gray-400">
                  <%= items[i].title %>
                </p>

              </a>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
    <script src="modal.js"></script>
    <%- include('partials/footer') -%>