<%- include('partials/header') -%>
  <!-- display user name -->
  <div class="grid">
    <img src="/imgs/prepp-small.png" alt="prepp logo" class="justify-self-center mt-5 rounded">
  </div>
  <!-- Showing username in the corner of the page and a link to the profile -->
  <a href="/profile" class="">
    <p class="pl-6"><strong></strong>
      <%= user.userName %> <br> Add an Item
    </p>
  </a>
  <div class="">
    <div class="">
      <ul class="feed">
        <% for(var i=0; i<items.length; i++) {%>
          <li class="col-6  mt-5 grid-item column">
            <a href="/item/<%= items[i]._id%>">
              <p class="post-title">
                <%= items[i].title %>
              </p>

              <img class="card-img-top" src="<%= items[i].image%>">
              <div class=" flex flex-row">
                <!-- checkmark if needed -->
                <!-- <input type="checkbox" checked="checked" class="checkbox checkbox-secondary mr-5" /> -->


                <!-- display caption if needed -->
                <!-- <p class="post-title"><%= items[i].description %></p> -->
              </div>
            </a>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') -%>