<%- include('partials/header') -%>
  <%- include('partials/navBar') -%>

    <div class="">
      <div class="">
        <ul class="m-8 p-3 grid lg:grid-cols-3 gap-10">
          <% for(var i=0; i<items.length; i++) {%>
            <li class="">
              <a href="/item/<%= items[i]._id%>">
                <img class="card-img-top" src="<%= items[i].image%>">

                <p class="pt-2 hover:text-gray-200">
                  <%= items[i].title %>
                </p>

              </a>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
    <%- include('partials/footer') -%>