<%- include('partials/header') -%>
  <%- include('partials/navBar') -%>
    <div class="">
      <div class="">
        <div class="username">
          <!-- <p>
            <%= user.userName %>
          </p> -->
          <!-- commented out email on the profile page -->
          <!-- <p><strong>Email</strong>: <%= user.email %></p> -->
          <!-- <a href="/logout" class=" btn col-3  bg-blue-500 shadow-lg shadow-blue-500/50">Logout</a> -->
        </div>


      </div>


      <!-- show my events in profile -->
      <div class="">
        <p class=" flex justify-center mt-10">MY EVENTS</p>

        <ul class="m-8 p-3 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-10">
          <% for(var i=0; i<events.length; i++) {%>
            <li class="">
              <a href="/event/<%= events[i]._id%>">
                <img class="img-fluid card-img-top" src="<%= events[i].image%>">
                <p class="pt-2 hover:text-gray-200">
                  <%= events[i].title %>
                </p>
              </a>
            </li>
            <% } %>
        </ul>
      </div>

      <!-- show my items in profile -->
      <div class="">
        <p class="mt-10 flex justify-center">MY ITEMS</p>
        <div class="col-6 feed-content">
          <ul class="m-8 p-3 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-10">
            <% for(var i=0; i<items.length; i++) {%>
              <li class="">
                <a href="/item/<%= items[i]._id%>">
                  <img class=" card-img-top" src="<%= items[i].image%>">
                  <p class="pt-2 hover:text-gray-200">
                    <%= items[i].title %>
                  </p>
                </a>
              </li>
              <% } %>
          </ul>
        </div>
      </div>

      <!-- create an event -->
      <h2 class="flex justify-center">Create event</h2>
      <div class="mt-5 flex justify-center">

        <form action="/event/createEvent" enctype="multipart/form-data" method="POST">
          <div class="mb-3 flex flex-col">
            <label for="title" class=" "></label>
            <input type="text" class=" w-80 rounded bg-gray-200 placeholder placeholder:text-slate-900" id="title"
              name="title" placeholder=" Add Title">
          </div>
          <div class="mb-3">
            <label for="caption" class=""></label>
            <textarea rows='6' class=" block w-80 bg-gray-200 rounded placeholder placeholder:text-slate-900"
              id="description" name="description" placeholder="Event Notes"></textarea>
          </div>
          <div>
            <label for="imgUpload" class="">Image</label>
            <input type="file" class=" w-80 block bg-gray-200 rounded" id="imageUpload" name="file">
          </div>
          <div class="flex justify-center">
            <button type="submit" class="btn bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 mt-2 text-gray-600"
              value="Upload">Submit</button>
          </div>
        </form>
      </div>


      <div class=" flex justify-center">
        <a class=" btn bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 mt-2 text-gray-200"
          href="/eventFeed">Return
          to
          Feed</a>
      </div>
    </div>
    <%- include('partials/footer') -%>